* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;

}

body {
    background: #F6FAFF;
    display: flex;
    flex-direction: row;
}

.sideBar {
    width: 4%;
    min-width: 54px;
    height: 100vh; /* 화면 전체 높이 */
    background: #DDEBFF;
    display: flex;
    position: relative; /* ⭐ 기준점 */
    flex-direction: column;

}

.sideBarImg {
    height: 60px;
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.sideBarImg img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    display: block;
}

.sideBarImgTwo{
    height: 60px;
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.sideBarImgTwo > img{
    background-color: transparent;
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
}
.sideBarButtonImg {
    background-color: transparent;
    border: none;
    height: 40px;
    display: flex;
    justify-content: center;

    align-items: center;
}

.sideBarButtonImg > span{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.4;
    cursor: pointer;

}

.sideBarButton {
    position: absolute; /* ⭐ sideBar 기준으로 위치 잡음 */
    top: -226px;
    left: -90%;
    transform: translateX(-500%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

}

.sideBarButtonImage {
    width: 500px;
    height: 500px;
}

.content {
    width: calc(100vw - 54px);
    background: #F6FAFF;
    height: 100vh;
    display: flex;
    flex-direction: column;


}

/*탑바 부분*/
.topBar {
    width: calc(100vw - 54px);
    background: #F6FAFF;
    height: 8vh;
    display: flex;
}

.topBar-left {
    height: 100%;
    width: 10%;
    min-width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topBar-left > h2 {
    font-weight: normal;

}

.topBar-middle {
    height: 100%;
    width: 50%;
}

.topBar-right {
    height: 100%;
    width: 40%;
    min-width: 490px;
    display: flex;
}

.topBar-rightLeft {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*input label */
.topBar-rightLeft > label {
    width: 98%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*input*/
.topBar-rightLeft > label > input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.topBar-rightRight {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;

}

.topBar-rightRightLeftButton {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar-rightRightRightButton {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWhite {

    width: 70%;
    height: 100%;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.buttonBlack {
    width: 90%;
    height: 100%;
    font-size: 16px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 8%;
}

/*탑바 부분 끝*/

/*realContent 부분 코드*/
.realContent {
    width: calc(100vw - 54px);
    background: #F6FAFF;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.realBoxFont {
    font-size: 30px;
}

.realBox > label {
    width: 80%;
    height: 40%;
}

.realBox > label > input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.realBox {
    width: 70%;
    height: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: 260px;
}

.search-btn {
    position: absolute;
    left: 100%;
    top: 64%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50px;
}

.search-btn i {
    color: #888;
    font-size: 14px;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 12px 10px 36px; /* ← 버튼 공간 */
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-btn {
    padding: 8px 12px;
    border: none;
    background: white;
    color: white;
    cursor: pointer;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (width < 670px) {
    * {
        padding: 0;
        margin: 0;
    }

    html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-size: 16px;

    }

    body {
        background: #F6FAFF;
        display: flex;
        flex-direction: row;
    }

    .sideBar {
        width: 0;
        min-width: 0;
        height: 100vh; /* 화면 전체 높이 */
        background: #DDEBFF;

    }

    .content {
        width: calc(100vw - 54px);
        background: #F6FAFF;
        height: 100vh;
        display: flex;
        flex-direction: column;


    }

    /*탑바 부분*/
    .topBar {
        width: calc(100vw - 54px);
        background: #F6FAFF;
        height: 8vh;
        display: flex;
    }

    .topBar-left {
        height: 100%;
        width: 10%;
        min-width: 122px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topBar-left > h2 {
        font-weight: normal;

    }

    .topBar-middle {
        height: 100%;
        width: 50%;
    }

    .topBar-right {
        height: 100%;
        width: 40%;
        min-width: 490px;
        display: flex;
    }

    .topBar-rightLeft {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*input label */
    .topBar-rightLeft > label {
        width: 98%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*input*/
    .topBar-rightLeft > label > input {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .topBar-rightRight {
        height: 100%;
        width: 50%;
        display: flex;


    }

    .topBar-rightRightLeftButton {
        width: 0;
        height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topBar-rightRightRightButton {
        width: 50%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonWhite {

        width: 70%;
        height: 100%;
        font-size: 16px;
        border-radius: 20px;
        cursor: pointer;
    }

    .buttonBlack {
        display: none;
    }

    /*탑바 부분 끝*/
    /*realContent 부분 코드*/
    .realContent {
        width: 100vw;
        background: #F6FAFF;
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: self-end;
    }

    .realBoxFont {
        font-size: 30px;
    }

    .realBox > label {
        width: 80%;
        height: 40%;
    }

    .realBox > label > input {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .realBox {
        width: 70%;
        height: 26%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }


}


